<% include ../partials/header %>
<div class="container">
<div class="listing-browse text-center ">
  <% listings.forEach(function(listing){ %>
	<article class="listing-item">
    <a href="/listings/<%= listing._id %>">
      <center>
		  <h4><%= listing.name %></h4>
      <!--<div class="zoom">-->
        <img class="article-img" src="<%= listing.image %>" alt="listing:<%= listing.id %>">
      <!--</div>-->
		  <p>$<%= listing.price %></p>
      </center>
    <!--<p>    </p>-->
        <center><a href="/listings/<%= listing._id %>" class="btn">More Info</a></center>
        </a>
	</article>
  <% }); %>
  <p><%= noMatch %></p>
</div>
</div>
<% include ../partials/footer %>
