<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= listing.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$<%= listing.price %></h4>
                    <h4><a><%=listing.name%></a></h4>
                    <p><%= listing.description %></p>
                    <p>
                        <em>Submitted By <%= listing.author.username %></em>
                    </p>
                    <% if(currentUser && listing.author.id.equals(currentUser._id)){ %>
                        <a class="btn" href="/listings/<%= listing._id %>/edit">Edit Listing</a>
                    <% } %>
                </div>
            </div>
            <div class="text-right">
                    <a class="btn" href="/listings/<%= listing._id %>/messages/new">Add New Message</a>
            </div>
            <div class="well">
                <strong>messages</strong>
                <hr>
                <% listing.messages.forEach(function(message){ %>
                    <div class="row">

                        <div>
                           <i><%= message.text %></i> - <%= message.author.username %>

                            <% if(currentUser && message.author.id.equals(currentUser._id)){ %>
                                <form style="display: inline" class="pull-right" action="/listings/<%=listing._id%>/messages/<%=message._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger">DELETE</button>
                                    <a href="/listings/<%=listing._id%>/messages/<%=message._id%>/edit" class="btn btn-xs btn-info">EDIT</a>
                                </form>
                            <% } %>
                       </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>
